body {
  background-image:url(../images/bg.jpg);
  background-size:cover;
  background-position:top center;
}

.main-container {
  margin-top:250px;
}

.media-left {
  margin-right:10px;
}

.media {
  padding:10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.media:last-child {
  border-color:transparent;
}

.card-header {
  background-color:#1a1c1d !important;
  color:#fff;
  border-bottom: 1px solid rgba(255,255,255,0.05) !important;
}

.card-block {
  background-color:#1d1f20;
  color:#e1e1e1;
}

.card {
  border-color:gray !important;
  background-color:#1d1f20;
}

.left-panel-table {
  font-size:12px;
}

.left-panel-table * {
  border-color:#333 !important;
}

.left-panel-table td {
  padding:10px 5px;
}

.left-panel-table tr:first-child {
  font-weight:bold;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-lg, .col-lg-1,
.col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md, .col-md-1,
.col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xl, .col-xl-1,
.col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  padding:0 5px !important;
}
